Tela de edicao

<div class="container">
	<div class="row">
		<div class="col-sm-6">
			<form novalidate name="myForm">
				<div
					class="form-group"
					ng-class="{ 'has-error' : myForm.campoNome.$invalid && !myForm.campoNome.$pristine }"
				>
					<label>Name</label>
					<input
						type="text"
						ng-model="nome"
						name="campoNome"
						class="form-control"
						ng-minlength="3"
						required
					/>
					<p ng-show="myForm.campoNome.$error.minlength" class="help-block">
						Username is too short.
					</p>
					<p
						ng-show="myForm.campoNome.$invalid && !myForm.campoNome.$pristine && myForm.campoNome.$error.required"
						class="help-block"
					>
						You name is required.
					</p>
				</div>

				<button type="button" class="btn btn-info" ng-click="reset(myForm)">
					Reset
				</button>

				<button type="submit" ng-click="salvar()" class="btn btn-primary">
					Salvar
				</button>
			</form>
		</div>

		<div class="col-sm-6">
			<div>{{dinheiro | currency:"CAD"}}</div>
			<br />
			<div>{{nome | maiusculo}}</div>
			<br />
			<div>{{meuCep | brCep}}</div>
			<br />
			<div>{{dataDeHoje | date}}</div>
			<br />
			<div>{{dataDeHoje | date: "MM/dd/yyyy"}}</div>
		</div>
	</div>
</div>
