<form novalidate name="myForm">
	<div class="page container">
		<div class="row align-items-center">
			<div class="col-md-3">
				<input
					class="form-control {{(myForm.$submitted && myForm.valor_entrada.$invalid)? 'error' : ''}}"
					ng-model="valor_entrada"
					name="valor_entrada"
					type="number"
					min="3"
					required
				/>

				<p ng-show="myForm.$submitted && myForm.valor_entrada.$error.required">
					This field is necessary.
				</p>
				<p ng-show="myForm.$submitted && myForm.valor_entrada.$error.min">
					This field has a minimun of 3.
				</p>
			</div>

			<div class="col-md-3">
				<input
					class="form-control"
					name="valor_multiplicado"
					ng-model="valor_multiplicado"
					required
				/>

				<p
					ng-show="myForm.$submitted && myForm.valor_multiplicado.$error.required"
				>
					This field is necessary.
				</p>
			</div>

			<div class="col-md-3">
				<button class="btn btn-primary" ng-click="calcular()" type="submit">
					Calcular
				</button>
			</div>

			<div class="col-md-3">
				<div class="form-control">
					{{valor_saida | currency}}
				</div>
			</div>
		</div>
	</div>
</form>
