voce esta na: {{tela}}

<list-action-buttons>
	Minha linha
</list-action-buttons>

<list-action-buttons>
	Minha nova linha
</list-action-buttons>

<button type="button" ng-click="redirecionar()" class="btn btn-primary">
	Editar
</button>

<a href="javascript:void" ng-click="goToGrid()">
	Grid
</a>
