.container {
	background-color: red;
}

.col {
	background-color: green;
}

.row {
	background-color: blue;
}

.page,
.page .row {
	height: 100vh;
}

.page .row div {
	padding: 10px;
}

.error {
	border: 2px dotted red;
}
